**Write a code to get the input in the given format and print the output in the given format**

Input Description:

A single line contains integers separated by space

Output Description:

Print the integer list of integers separated by space

Sample Input :

**2 3 4 5 6 7 8**

Sample Output :

**2 3 4 5 6 7 8**

In [36]:
x = list(map(int,input().split()))

for i in range(0,len(x)-1):
  print(x[i],end= " ")
  
print(x[len(x)-1])

2 3 4 5 6 7 8
2 3 4 5 6 7 8

In [37]:
a= input()
print(a)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

**Write a code to get the input in the given format and print the output in the given format.**

Input Description:

First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:

Print the taken input in the same format.

Sample Input :

**5 3**

**1 2 3 4 5**

Sample Output :

**5 3**

**1 2 3 4 5**

In [50]:
a,b=(input().split())
c=list(map(int,input().split()[:int(a)]))
print(a,b)
print(*c,sep=" ")

5 3
1 2 3 4 5
5 3
1 2 3 4 5

In [49]:
a= list(map(int,input().split()))
b= input().split()
print(*a)
print(*b)

5 3
1 2 3 4 5
5 3
1 2 3 4 5