1 **Write a code to get the input in the given format and print the output in the given format.**

Input Description:

A single line contains three float values separated by space.

Output Description:

Print the float value separated by line.

Sample Input :

**2.3 4.5 7.8**

Sample Output :

**2.3**

**4.5**

**7.8**

In [1]:
a=list(map(float,input().split()))
for i in a:
    print(i)

2.3 4.5 7.8
2.3
4.5
7.8

2. **Write a code to get the input in the given format and print the output in the given format**

Input Description:

First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:

Print the input in the same format.

Sample Input :

**2 5**

**2 5 6**

**2 4 5**

Sample Output :

**2 5**

**2 5 6**

**2 4 5**

In [2]:
a=list(map(int,input().split()))
b=list(map(int,input().split()))
c=list(map(int,input().split()))
list=(a,b,c)
for i in list:
    print(*i)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5